//---------------------------------------------------------------
//                        Exteriour Sectors
//---------------------------------------------------------------

{%- set EDGG = data.sectors['lines']['EDGG'] %}
{%- set EDMM = data.sectors['lines']['EDMM'] %}
{%- set EDWW = data.sectors['lines']['EDWW'] %}
{%- set EHAA = data.sectors['lines']['EHAA'] %}
{%- set EBBU = data.sectors['lines']['EBBU'] %}
{%- set LFEE = data.sectors['lines']['LFEE'] %}
{%- set LSAS = data.sectors['lines']['LSAS'] %}
{%- set EXT = data.sectors_ext['lines'] %}

MAP:EXT ACC
ACTIVE:1
COLOR:standard
FOLDER:Sectors
ASRDATA:EDGG
STYLE:Solid:1

// EHAA ACC
{{ render_sectorlines(
        EHAA['EHBK TMA1']['015-095'],
        EHAA['EHMC TMA C']['095-245'],
        EHAA['EHMC TMA D']['015-245'],
        EHAA['EHMC TMA D 2']['015-095'],
        EHAA['EHMC TMA E']['015-095'],
    ) }}

//ELLX
{{ render_sectorlines(
        EXT['EBBU']['ELLX TMA']['000-145'],
        EXT['EBBU']['ELLX TMA']['000-165'],
        EXT['EBBU']['ELLX TMA']['000-095'],
        ) }}

// EBBU ACC
{{ render_sectorlines(
        EXT['EBBU']['EBLG TMA1']['000-055'],
        EXT['EBBU']['EBLG TMA3-4-5']['000-055'],

        EXT['EBBU']['EBBU EHS']['195-245'],
        sector_sub(
            EXT['EBBU']['EBBU CTA E5']['095-185'],
            ),
        sector_sub(
            EXT['EBBU']['EBBU ELS1']['045-055'],
            ),
			
        EXT['EBBU']['EBBU HUL']['185-245'],
        sector_sub(
            EXT['EBBU']['ELLX TMA']['000-145'],
            ),
    ) }}

//BALE
{{ render_sectorlines(
		LFEE['BALE_DELEG.LANGEN_NORD']['000-145'],
		) }}

// LFEE ACC
{{ render_sectorlines(
        EXT['LFEE']['UE']['195-315'],
        sector_sub(
            LFEE['BO']['145-195'],
            ),
        sector_sub(
            LFEE['LFEE_SU1']['115-195'],
            ),
        sector_sub(
            LFEE['LFEE_SU2']['115-195'],
            ),
        sector_sub(
            LFEE['LFEE_SU2']['115-195'],
            ),
        
        sector_sub(
            LFEE['LFEE_BC']['115-145'],
            ),
    ) }}

// LSAS ACC
{{ render_sectorlines(
        LSAS['ARFA']['000-105'],
        sector_sub(
            LSAS['LSASZE']['105-125'],
            LSAS['ARFA']['000-105'],
            ),
        sector_sub(
            LSAS['LSASZE']['105-125'],
            ),

        LSAS['LSASZN']['125-245'],
        sector_sub(
            LSAS['LSASZN']['000-125'],
            ),
        sector_sub(
            LSAS['LSASZN']['105-125'],
            ),
        sector_sub(
            LSAS['LSASZN']['115-125'],
            ),
        
        EXT['LSAS']['LSZH-APE']['000-125'],
        EXT['LSAS']['LSZH-APW']['000-125'],
    ) }}
